*{
    font-family: monospace;
    font-size: 15pt;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-bottom: 1px solid black;
    height: 100px;
}

header h1{
    font-size: 1.5em;
}

body{
    margin: auto;
}

#Corpo{
    padding-top: 30px;
    background-color: rgba(224, 224, 224, 0.562);
    display: flex;
    justify-content: center;
    gap: 50px;
}

.CorpoCalculadora{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 400px;
    padding: 50px 0px;
    background-color: rgb(72, 72, 105);
    box-shadow: 6px 15px 10px 2px rgba(0, 0, 0, 0.39);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 15px;
}

.res{
    height: 50px;
    width: 220px;
    padding: 15px;
    background-color: rgb(228, 228, 228);
}

.botao{
    width: 60px;
    height: 60px;
}

.imagem{
    width: 350px;
    height: 440px;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}